<h1>hola soy : <%=persona.nombre%></h1>
<h1>mi apellido es : <%=persona.apellido%></h1>
<h1>mi estadoCivil es : <%=persona.estadoCivil%></h1>
<h1>en servicio : <%=persona.enServicio%></h1>
<h1>el hobbie que mas me gusta es : <%=persona.hobbies[1]%></h1>

<h3>mi lista de hobbies son:</h3>
<ul>
  <li><%=persona.hobbies[0]%></li>
  <li><%=persona.hobbies[1]%></li>
  <li><%=persona.hobbies[2]%></li>
</ul>
